<div class="mx-3 my-4">
    <div class="d-flex justify-content-between">
        <div class="postSource d-flex flex-column">
            <div>
                <span class="fw-bold text-secondary-emphasis">
                    <% if @post.community.present? %>
                        <%= "r/#{@post.community.community_name}" %>
                    <% else %>
                        <%= "u/#{@post.user.username}" %>
                    <% end %>
                </span>
                <i class="bi bi-dot"></i>
                <span class="text-body-secondary">
                    <%= "#{time_ago_in_words(@post.created_at)} ago" %>
                </span>
            </div>
            <span class="fw-normal">
                <%= "#{@post.user.username}" %>
            </span>
        </div>
        <% if current_user == @post.user %>
            <div class="nav-item dropdown" id="postMenu">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <%= link_to edit_post_path(@post), class: "dropdown-item" do %>
                            <i class="bi bi-pencil"></i>
                            <span>Edit post</span>
                        <% end %>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deletePostModal">
                            <i class="bi bi-trash"></i>
                            <span>Delete</span>
                        </button>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>

    <h1 class="fw-semibold fs-5">
        <%= @post.title %>
    </h1>

    <%= simple_format(@post.body, class:"userText") %>
</div>

<div class="mx-3 mb-3">
    <%= render "layouts/counts", post: @post %>
</div>
<%= render "comments/form", post: @post if current_user %>
<%= render @post.comments %>

<%= render "delete_post_modal", post: @post if current_user == @post.user%>