<div class="modal" id="createCommunityModal" tabindex="-1" aria-labelledby="createCommunityModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="modal-title fs-4 fw-bold text-center mb-3" id="loginModalLabel">Tell us about your community</h1>
        <p>
            A name and description help people understand what your community is all about.
        </p>

        <%= form_with model: community, html: {id: "create-community-modal-form", class: "d-flex flex-column"} do |form| %>
          <div class="form-floating">
            <%= form.email_field :community_name, autofocus: true, class: "form-control rounded-4 bg-body-secondary", placeholder: "Community name" %>
            <%= form.label :community_name, class: "text-secondary floatingLabel" %><br />
          </div>

          <div class="form-floating rounded-5">
            <%= form.text_area :description, autocomplete: "current-password", class: "form-control rounded-4 bg-body-secondary", placeholder: "Description", style: "min-height: 150px;" %>
            <%= form.label :description, class: "text-secondary floatingLabel" %><br />
          </div>
        <% end %>

      </div>
      <div class="modal-footer d-flex">
        <button type="button" class="btn btn-secondary rounded-5" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary rounded-5" onclick="document.getElementById('create-community-modal-form').submit();">
          Create community
        </button>
      </div>
    </div>
  </div>
</div>
